In [11]:
import pandas as pd

# 1. read_csv
- Filter the rows with index 2 and 3 using the skiprows argument. We know that these observations were fake.
- Filter the last two rows from the footer using the skipfooter argument. We know that these observations were fake, too.
- Assign the following names to the columns: datetime, user.
- Use datetime as the index column.

In [12]:
feed_views = pd.read_csv(
    '../data/feed-views.log', 
    sep='\t',
    skiprows=[2, 3],
    skipfooter=2,
    engine='python',
    names=['datetime', 'user'],
    index_col='datetime'
)

# 2. Rename datetime to date_time.

In [13]:
feed_views.index.name = 'date_time'
feed_views.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

# 3. to_csv
- Use ’;’ as the delimiter.
- Save it to a file named feed-views-semicolon.log.

In [14]:
feed_views.to_csv('../data/feed-views-semicolon.log', sep=';')
feed_views.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel