In [1]:
import pandas as pd

# 1. Load the JSON file that you created in the previous exercise into a dataframe.
- Set the CarNumber column as the index.

In [2]:
df = pd.read_json('../data/auto.json')
df.set_index('CarNumber', inplace=True)
df.head()

              Refund   Fines    Make  Model
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus
E432XX77RUS        1  6500.0  Toyota  Camry
7184TT36RUS        1  2100.0    Ford  Focus
X582HE161RUS       2  2000.0    Ford  Focus
92918M178RUS       1  5700.0    Ford  Focus

# 2. Make the following selections:
- Display the rows where the fines are greater than 2,100.

In [3]:
df[df['Fines'] > 2100]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

- Display the rows where the fines are greater than 2,100 and the refund equals 2.

In [4]:
df[(df['Fines'] > 2100) & (df['Refund'] == 2)]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

- Display the rows where the models are from the list: [’Focus’, ’Corolla’].

In [5]:
df[df['Model'].isin(['Focus', 'Corolla'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

- Display the rows where the car number is from the list: [’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’].

In [6]:
car_numbers = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
df[df.index.isin(car_numbers)]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

# 3. Make the aggregations with the make and model. 
- Display the median fines grouped by make.

In [7]:
df.groupby('Make')['Fines'].median()

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

- Display the median fines grouped by make and model.

In [8]:
df.groupby(['Make', 'Model'])['Fines'].median()

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

- Display the number of fines grouped by make and model to understand if we can trust the median values.

In [9]:
df.groupby(['Make', 'Model'])['Fines'].count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

- Display the minimum and maximum fines grouped by make and model to better understand the variance.

In [10]:
df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max']).reset_index()

         Make    Model     min            max
0        Ford    Focus   100.0  180000.000000
1        Ford   Mondeo  1100.0   46200.000000
2       Skoda  Octavia   300.0  145000.000000
3      Toyota    Camry   500.0   22400.000000
4      Toyota  Corolla   900.0   34300.000000
5  Volkswagen     Golf   200.0  168000.000000
6  Volkswagen    Jetta   500.0   46000.000000
7  Volkswagen   Passat   100.0   29700.000000
8  Volkswagen  Touareg   500.0    8594.586466

In [11]:
df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max'])

                       min            max
Make       Model
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466

- Display the standard deviation of fines grouped by make and model to better understand the variance.

In [12]:
df.groupby(['Make', 'Model'])['Fines'].std()

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

# 4. Make aggregations with car numbers.
- 4.1 Display the car numbers, grouped by the number of fines in descending order. We want to find those who most often violated the law.

In [13]:
df.groupby(df.index)['Fines'].count().sort_values(ascending=False)

CarNumber
Y7689C197RUS    4
7788KT197RUS    4
92928M178RUS    4
Y7129Y50RUS     3
X758HY197RUS    3
               ..
Y967O8197RUS    1
Y965O8197RUS    1
Y965EE197RUS    1
Y964O8197RUS    1
Y964EE197RUS    1
Name: Fines, Length: 531, dtype: int64

- 4.2 Select from the initial dataframe all the rows corresponding to the top-1 car number. We want to zoom in a little bit.

In [14]:
top1_by_count_number = df.groupby(df.index)['Fines'].count().sort_values(ascending=False).index[0]
df.loc[top1_by_count_number]

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

- 4.3 Display the car numbers grouped by sum of fines in descending order. We want to find those who paid the most.

In [15]:
df.groupby(df.index)['Fines'].sum().sort_values(ascending=False)

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y166O8161RUS       100.0
K326T8197RUS       100.0
Y195O8161RUS       100.0
C58078163RUS       100.0
705787163RUS       100.0
Name: Fines, Length: 531, dtype: float64

- 4.4 Select all the rows corresponding to the top-1 car number from the initial dataframe. We want to zoom in a little bit.

In [16]:
top1_by_sum_number = df.groupby(df.index)['Fines'].sum().sort_values(ascending=False).index[0]
df.loc[top1_by_sum_number]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

- 4.5 Display a table that answers the question, "Are there any car numbers connected to different models?"

In [17]:
car_model_counts = df.groupby('CarNumber')['Model'].nunique()
car_model_counts[car_model_counts > 1]

Series([], Name: Model, dtype: int64)

In [18]:
df.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [19]:
df.groupby('CarNumber')['Fines'].count().sort_values(ascending=False).head(3)

CarNumber
Y7689C197RUS    4
7788KT197RUS    4
92928M178RUS    4
Name: Fines, dtype: int64